@model webby.Models.PostListViewModels
@if (Model.PostContent != null)
{
    <div class="Content"> Content: @Model.PostContent</div>
}

    <li>
        @if (Model.Comments.Any())
        {
            @:Comments:
            <ul>
                @foreach (var comment in Model.Comments)
                {
                    <li>
                        @comment.Text
                        @if (comment.AuthorId != null)
                        {
                            @: (by @comment.AuthorId)
                        }
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No Comments</p>
        }
        @if (ViewBag.CanEdit)
        {
            @Html.ActionLink("Edit", "Edit", "Posts", new { id = Model.AuthorId },
                        new { @class = "btn btn-default" })
            <Span></Span>
            @Html.ActionLink("Delete", "Delete", "Posts", new { id = Model.AuthorId },
                        new { @class = "btn btn-default" })
                    }

    </li>