@model webby.Models.CommentModels
    @{ Layout = null;}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="addcommentbox">
        <h6> Add Comment </h6>
        @Html.Hidden("PostId", (object) ViewBag.Foo)
        @Html.TextAreaFor(model => model.Text)
        
        <div class="ErrorMessage">
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        <div class="addcommentbox">
            <div>
                <input type="submit" value="Add This Comment >" class="a a-default" />
            </div>
        </div>
    </div>
}

