@model webby.Models.CommentModels
@{ Layout = null;}
@using (Html.BeginForm())
{
    if (Request.IsAuthenticated)
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class="addcommentbox">
            <h6> Add Comment </h6>
            @Html.Hidden("PostId", (object)ViewBag.Foo)
            @Html.TextAreaFor(model => model.Text)

            <div class="ErrorMessage">
                @Html.ValidationMessageFor(model => model.Text)
            </div>
            <div class="addcommentbox">
                <div>
                    <input id="test" type="submit" value="Add This Comment >" class="a a-default" onclick="Update()" />
                </div>
            </div>
        </div>

        
        

        


    }

}
        <script>
            function Update() {
                toastr.success("Comment Added!", "Congrats!");
            }
        </script>

