@model webby.Models.PostModels
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/ajax")

    
    }
<style>
    .user_name {
        font-size: 14px;
        font-weight: bold;
    }

    .comments-list .media {
        border-bottom: 1px dotted #ccc;
    }
</style>

<p>

    @Html.ActionLink("Back to List", "PostList")
</p>

<h2>Comments</h2>



<div id="app">
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PostId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostContent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostContent)
            </dd>

        </dl>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h1>Current Comments</h1>
                </div>
                <div class="comments-list">
                    <div class="media">
                        <div class="media-body">


                            <div class="post-box">
                                <div id="post-details-@this.Model.PostId">
                                    @Ajax.ActionLink("View All Comments >", "_Comments", "Home",
                                new { id = this.Model.PostId },
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "post-details-" + this.Model.PostId
                                }, new { @class = "btn btn-default" })




                                </div>
                            </div>
                            @{ int i = this.Model.PostId;}
                            @Html.Action("CreateComment", "Home", new { pId = i })



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


