@model webby.Models.PostModels
@{
    ViewBag.Title = "Post Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/ajax")

    
    }



<h2>Post Details</h2>



<div id="app">
    <div>

        <hr />
        <dl class="dl-horizontal">
            
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                Post Content:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostContent)
            </dd>

        </dl>
    </div>
    
    <div>
        <h5>Current Comments</h5>
        <div class="post-box">
            <div id="post-details-@this.Model.PostId">
                @Ajax.ActionLink("View All Comments >", "_Comments", "Home",
            new { id = this.Model.PostId },
            new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "post-details-" + this.Model.PostId
            }, new { @class = "a a-default" })
            </div>
        </div>
        <p> </p>
        <div>
            @{ int i = this.Model.PostId;}
            @Html.Action("CreateComment", "Home", new { pId = i })
        </div>
        
    </div>

    


