@model webby.Models.PostListViewModels
@{
    ViewBag.Title = "PostList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section scripts{
    @Scripts.Render("~/bundles/ajax")}

<h2>PostList</h2>

<head>
    <title>Your Posts</title>
</head>
<body>
    <div>
        
            @foreach (webby.Models.PostModels post in Model.Posts)
            {

                <div> @post.PostId @post.PostTime @post.Title @post.PostContent</div>
                
                        <div class="post-box">
                            <div id="post-details-@Model.PostId">
                                @Ajax.ActionLink("View Details >", "_PostDetails", "Home",
                               new { id = Model.PostId},
                               new AjaxOptions
                               {
                                   InsertionMode = InsertionMode.Replace,
                                   UpdateTargetId = "post-details-" + Model.PostId
                               }, new { @class = "btn btn-default" })
                            </div>
                        </div>
            }
        
    </div>


   

</body>
