@model webby.Models.PostListViewModels
@{
    ViewBag.Title = "PostList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section scripts{
    @Scripts.Render("~/bundles/ajax")}

<h2>PostList</h2>

<head>
    <title>Your Posts</title>
</head>
<body>
    <div>
        <ul>
            @foreach (webby.Models.PostModels post in Model.Posts)
            {
                
                <li><div> @post.PostId @post.PostTime @post.Title @post.PostContent</div></li>
                <li><div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="post-box">
                        <div id="post-details-@Model.AuthorId">
                            @Ajax.ActionLink("View Details >", "_PostDetails", "Home",
                           new { id = Model.AuthorId},
                           new AjaxOptions
                           {
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "post-details-" + Model.AuthorId
                           }, new { @class = "btn btn-default" })
                        </div>
                        </div>"
                </div>
            </li>

                
            }
        </ul>
    </div>
</body>
