@model PagedList.IPagedList<webby.Models.ExpandedUserDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Index</h2>
<br />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "a a-default" })
    @Html.ActionLink("Edit Roles", "ViewAllRoles", null, new { @class = "a a-default" })
    @Html.ActionLink("Back to Home", "../", "Home", null, new { @class = "a a-default" })
</p>
<br />
<br />
@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
    <div class="form-group">
        Search:&nbsp; @Html.TextBox("searchSearchUserNameOrEmail", ViewBag.CurrentFilter as string)

        <input type="submit" value="Search" />
    </div>
}
<br />

@foreach (var item in Model)
{
    <br />
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { UserName = item.UserName }) |
            @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
            {
                @Html.ActionLink("Delete", "DeleteUser", new { UserName = item.UserName},
               new { onclick = "return confirm('Are you sure you want to delete this user?');"})
            }
        </td>
    </tr>
    <br />
}
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model,
    page => Url.Action("Index",
    new { page,
        searchStringUserNameOrEmail = ViewBag.searchStringUserNameOrEmail,
        currentFilter = ViewBag.CurrentFilter }))
<hr />