@model IEnumerable<webby.Models.RoleDTO>
@{
    ViewBag.Title = "ViewAllRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View All Roles</h2>
<hr />

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p>
    |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "a a-default" })
    <wbr />
    <text> - </text>
    @Html.ActionLink("Add Role", "AddRole", null, new { @class = "a a-default" })
    |
</p>
    
<table>
    <tr><th>Role</th></tr>
    @foreach (var item in Model)
    {
        <tr><td>@Html.DisplayFor(modelItem => item.RoleName)</td>
    <td>@if (item.RoleName.ToLower() != "administrator")
    {
        @Html.ActionLink("Delete", "DeleteUserRole", new { RoleName = item.RoleName }, new { onclick = "return confirm ('Are you sure you want to delete this role?');" })
    }
            </td>
    </tr>
        
    }
</table>
